/*
  Colors
1 #363F48    ------------ 1st Color
	1.1 background-color
	1.2 color
	1.3 border-color
2 #41a6df    ------------ 2nd Color
	2.1 background-color
	2.2 color
3 #3e3e3e    ------------ 3rd Color
	3.1 background-color
	3.2 color
4 #fff       ------------ 4th Color
	4.1 background-color
	4.2 color
	4.3 border-color
5 #363f48    ------------ 5th Color
	5.1 background-color
	5.2 color
6 #eff3f6    ------------ 6th Color
	6.1 background-color
	6.2 color
7 #ababab    ------------ 7th Color
	7.1 color

*/
/*

1 #7f7f7f    ------------ 1st Color
	1.1 background-color
	1.2 color
	1.3 border-color
*/

/*=====================1.1 background-color====================
===============================================================*/
.lp-primary-btn,
.lp-search-btn:hover,
.dashboard-tabs,
.nav-tabs > li > a:hover, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus,
.lp-submit-btn,
.secondary-btn:hover,
.categories-container li a,
.btn-first-hover:hover,
.btn-second-hover,
.about-box-icon,
.secondary-btn:active,
.secondary-btn:focus{
   /* background-color: #363F48;*/
	background-color: #e6541c;
	color: #fff;
}

/*===========================1.2 Color=========================
===============================================================*/
input,
span
.form-group label,
.lp-sub-title,
.lp-blog-grid-category a,
.lp-blog-grid-author li i,
.user-text,
.post-stat  li,
.post-stat  li a,
.menu ul.sub-menu li a,
.listing-page-result-row p a,
p a.achor-color:hover,
.form-group label,
.blog-tags ul li a,
.post-meta-left-box .breadcrumbs li a,
.post-meta-left-box .breadcrumbs li span,
.tags-container li a span,
.price-plan-content ul li span,
.paragraph-form,
.form-review-stars li i,
.form-review-stars li a ,
.form-group p,
.post-meta-right-box .post-stat li a,
.parimary-link,
.secodary-link:hover,
blockquote,
.lp-blockquote,
.bottom-links a:hover,
.rating-symbol-background.fa-star-o,
.lp-menu .has-menu > a:after{
	color:#363F48;
}

/*=======================1.3 Border Color======================
===============================================================*/
.nav-tabs > li > a:after{
	border-bottom-color:#363F48;
}



/*

2 #41a6df    ------------ 2nd Color
	2.1 background-color
	2.2 color
*/

/*=====================2.1 background-color====================
===============================================================*/
.lp-primary-btn:hover,
.lp-search-btn,
.lp-home-categoires li a:hover,
.lp-post-quick-links li a.icon-quick-eye,
.md-close i,
.lp-menu-bar-color,
.menu ul.sub-menu li a:hover,
.user-portfolio-stat ul li i,
.lp-submit-btn:hover,
.secondary-btn,
.categories-container li a:hover,
.price-plan-box,
.btn-first-hover,
.btn-second-hover:hover,
.ui-autocomplete li:hover,
.tes-icon i,
.menu ul.sub-menu li:hover > a ,
.mm-listview .mm-next,
.mm-navbar-size-1 a,
.mm-listview a:hover,
.active-tag:hover,
.chosen-container .chosen-results li.highlighted,
.lp-user-menu li a:hover,
.double-bounce1, .double-bounce2,
.lpmap-icon-shape.cardHighlight{
	background-color:#41a6df;
}


/*=====================2.2 color====================
===============================================================*/
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.lp-h1 a:hover,
.lp-h2 a:hover,
.lp-h3 a:hover,
.lp-h4 a:hover,
.lp-h5 a:hover,
.lp-h6 a:hover,
.lp-blog-grid-category a:hover,
.lp-blog-grid-title h4 a:hover,
.footer-menu li a:hover,
.email-icon,
.email-address,
.post-rice,
.tags-container li a label
.tags-container li a:hover span,
.ui-accordion .ui-accordion-header span,
.post-stat .fa-star,
.listing-page-result-row p a:hover,
p a.achor-color,
.blog-tags ul li a:hover,
.post-meta-left-box .breadcrumbs li a:hover,
.form-review-stars li.active a i,
.post-meta-right-box .post-stat li a:hover,
.parimary-link:hover,
.secodary-link,
blockquote:after,
.lp-blockquote:after,
.lp-join-now a:hover,
.lp-add-listing-btn ul li a:hover,
.bottom-links a,
.overlay-video-thumb:hover i,
.rating-symbol-foreground .fa-star,
.tags-container li a span.tag-icon,
.tags-container li a:hover span,
.post-stat li a:hover,
.post-reviews .fa-star{
	color:#41a6df;
}

/*=====================2.3 Border Color====================
====================================================*/
.menu ul.sub-menu li a:hover,
.menu ul.sub-menu li:first-child a:hover,
.ui-autocomplete li:hover,
.menu ul.sub-menu li:hover > a{
	border-color:#41a6df !important;
}
.lpmap-icon-shape.cardHighlight:after{
	border-top-color:#41a6df !important;
}
.lpmap-icon-contianer{
	border-color:#41a6df;
}
/*

3 #3e3e3e    ------------ 3rd Color
	3.1 background-color
	3.2 color
*/

/*===========================3.1 color=========================
===============================================================*/
p,
.lp-search-input,
.user-name a{
	color:#3e3e3e;
}

/*

4 #fff    ------------ 4th Color
	4.1 background-color
	4.2 color
*/
/*====================4.1 background-color=====================
===============================================================*/
.lp-search-input,
.testimonial-description,
.menu ul.sub-menu li a,
.user-portfolio,
.user-description-box,
.lp-grid-box,
.lp-form-container,
.blog-single-inner-container,
.post-meta-info,
.comments-container,
.comments-form,
.post-author-box,
.widget-bg-color,
.price-plan-box-bottom,
.page-innner-container,
.about-box-inner,
.lp-list-view-inner-contianer,
.post-with-map-container-right{
	background-color:#fff;
}
/*===========================4.2 color=========================
===============================================================*/
.lp-topbar-menu li a,
.lp-primary-btn:hover,
.lp-menu ul li a,
.lp-join-now a,
.lp-add-listing-btn ul li a,
.lp-banner-browse-txt,
.lp-home-banner-contianer-inner,
.lp-color-white,
.lp-search-btn,
.lp-search-description p,
.lp-home-categoires li a span,
.city-title .lp-h3 a,
.lp-listing-quantity,
.fa-star,
.lp-post-quick-links li a i,
.footer-menu li a,
.lp-home-banner-contianer-inner h1,
.footer-about-company li,
.overlay-video-thumb i,
.md-close i,
.menu ul.sub-menu li a:hover,
.page-heading-inner-container h1,
.breadcrumbs li a,
.breadcrumbs li span,
.sidebar-breadcrumbs h2,
.sider-bar-reset p,
.dashboard-tabs .nav > li > a,
.user-portfolio-stat ul li i,
.nav-tabs > li > a:hover, 
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus,
.lp-grid-box-expired i,
.lp-grid-box-expired span,
.blog-single-page .lp-blog-grid-author li i,
.blog-single-page .lp-blog-grid-author li span,
.blog-heading-inner-container h1,
.lp-submit-btn,
.secondary-btn,
.secondary-btn:hover,
.categories-container li a,
.price-plan-box-upper h1,
.price-plan-box-upper p,
.lp-secondary-btn:hover,
.ui-autocomplete li:hover,
.tes-icon i,
.menu ul.sub-menu li:hover > a ,
.md-closer:hover,
.lp-menu-bar-color .lp-add-listing-btn ul li a:hover,
a.btn-first-hover:hover,
.mm-navbar-size-1 a,
.mm-listview a:hover,
.secondary-btn:active,
.secondary-btn:focus,
.active-tag:hover,
.lp-user-menu li a:hover,
.lp-menu .has-menu:hover > a:after ,
.lp-grid-box-bottom span,
.lp-add-to-fav,
.lp-add-to-fav:hover,
.hot-post,
.sider-bar-reset .achor-color:hover{
	color:#fff;
}

/*=======================4.3 Border Color======================
===============================================================*/

.nav-tabs > li > a:hover:after, 
.nav-tabs > li.active > a:after, 
.nav-tabs > li.active > a:hover:after,
.nav-tabs > li.active > a:focus:after{
	border-bottom-color:#fff;
}


/*

5 #363f48    ------------ 5th Color
	5.1 background-color
	5.2 color
*/

/*====================5.2 background-color=====================
===============================================================*/
.lp-topbar,
.lp-home-categoires li a,
.lp-grid-box-bottom,
.footer-upper-bar{
	background-color:#363f48;
}
/*

6 #eff3f6    ------------ 6th Color
	6.1 background-color
	6.2 color
*/

/*====================6.1 background-color=====================
===============================================================*/

.aliceblue{
	background-color:#eff3f6;
}

.testimonial-description.aliceblue:after{
	border-top: 15px solid #eff3f6;
}

/*

7 #ababab    ------------ 7th Color
	7.1 color
*/

/*=========================7.1 color===========================
===============================================================*/
.fa-star-o{
	color:#ababab;
}	


[data-tooltip].simptip-position-top:before {
  border-top-color: #41a6df;
}
[data-tooltip].simptip-position-top:after {
  background-color: #41a6df;
  color: #fff;
}
[data-tooltip].simptip-position-bottom:before {
  border-bottom-color: #41a6df;
}
[data-tooltip].simptip-position-bottom:after {
  background-color: #41a6df;
  color: #fff;
}
[data-tooltip].simptip-position-left:before {
  border-left-color: #41a6df;
}
[data-tooltip].simptip-position-left:after {
  background-color: #41a6df;
  color: #fff;
}
[data-tooltip].simptip-position-right:before {
  border-right-color: #41a6df;
}
[data-tooltip].simptip-position-right:after {
  background-color: #41a6df;
  color: #fff;
}
[data-tooltip].simptip-position-top.half-arrow:before {
  border-right: 7px solid #41a6df;
}
[data-tooltip].simptip-position-bottom.half-arrow:before {
  border-right: 7px solid #41a6df;
}


@media screen and (max-width: 480px){

	.lp-menu-container{
		background-color:#41a6df;		
	}
}